<h1>Welcome to the Earth</h1>
<p> Welcome to StoryBooks </p>
<p> Post Stories from the best and worst asdljfla asdkjfla jsdlf asdfjl jasdlf asdfj lajsf
    asdjflkasdjf asdlkjfl ajsdlf kajskdfj
    asdkfjlkwe rjlasdf
</p>
{{#if user}}
{{else}}

<a href="/auth/google" class="btn red darken-1">
    <i class="fa fa-google left"></i> Login with Google
</a>
{{/if}}